.row{
	padding-right: 15px;
	padding-left: 15px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.ro12{
	display: block;
	margin:0 auto;
}
.icon-12{
	position: absolute;
	left: 90%;
top: 35%;

}
.r12{
    width:200px;
}
.b14{

    border-radius: 25px;
    height:50px;
    background: #16a7e9 !important;
}
.nav13{
    background-color: #16a7e9 !important;
}
.nav12{
	background: transparent;
	box-shadow: none;
}
.nav12 a{
	color:#333;
}
.padding1{
	padding-left:10px; 
}
.b1{
	border-bottom: 1px solid #eee;
	width: 50%;
}
.mt{
	margin-top: 20px;
	margin-bottom: 20px;
}
.pdata{
	height: 700px!important;
	 background: #fff; padding: 15px;

}
.l1{
	font-size: 30px;
	font-weight: 700;
		color:#928c8c!important;
}
.container12{
	border-bottom: 1px solid #d1cdcd !important;
}
.container12 h5{
		color:#928c8c;

}
.input12{
	border:2px solid #eee !important;
  box-shadow: 1px 2px 3px 3px #ddd !important;
	/*border-radius: 20px!important;*/
}
.l2{
	list-style-type: none;
}
.search-form-wrap {
	position: absolute;
	top: 26%;
	width: 100%;
	padding: 15px;
	margin-top: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	color: #fff;
	font-size: 13px;
}
.bg-12{
	background-image: url('../img/1.jpg');
	background-size: cover;
	height: 500px;
}

        /*jssor slider loading skin spin css*/
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }

        /*jssor slider bullet skin 057 css*/
        .jssorb057 .i {position:absolute;cursor:pointer;}
        .jssorb057 .i .b {fill:none;stroke:#fff;stroke-width:2000;stroke-miterlimit:10;stroke-opacity:0.4;}
        .jssorb057 .i:hover .b {stroke-opacity:.7;}
        .jssorb057 .iav .b {stroke-opacity: 1;}
        .jssorb057 .i.idn {opacity:.3;}

        /*jssor slider arrow skin 073 css*/
        .jssora073 {display:block;position:absolute;cursor:pointer;}
        .jssora073 .a {fill:#ddd;fill-opacity:.7;stroke:#000;stroke-width:160;stroke-miterlimit:10;stroke-opacity:.7;}
        .jssora073:hover {opacity:.8;}
        .jssora073.jssora073dn {opacity:.4;}
        .jssora073.jssora073ds {opacity:.3;pointer-events:none;}

            .b12{
            	background: transparent;
            	color:#333;
            	border:1px solid #eee;
            	border-radius: 15px;
            	margin-bottom: 10px;
            }
            .b13{
            	background-color: #ddd;
            	color:#333;
            }
            .b13:hover{
            	background:#ddd; 
            }
        .j1{
        	width: 100px;
height: 100px;
background: #ffffff;
border: 1px solid #eaeaea;
border-radius: 2px;
text-align: center !important;
line-height: 105px;

        }
        .j21{
        	margin-top: 20px;
        	margin-bottom: 20px;
        }
        .t1{
        	font-size: 20px;
        	color: #5c5656;
        }
        .ptext{
             color: #727070!important;
             text-align: justify;
        }
        .data12{
        	border-right:1px solid #eee;
        	background: #fff;
        }
        .data13{
        	border-top:3px solid #eee;
        	background: #fff;
        }
        .t2{
        	color: orange;
        }
        .inline-data li{
        	display: inline-block;
/*        	padding: 15px;
*/        }
.inline-data  li a{
	padding: 15px;
	color:#928c8c;
}